<!DOCTYPE html>
<html>
  <head>
    <title>Chat with Bob</title>
    <style>
    html, body {
      display: flex;
      justify-content: center;
      height: 100%;
    }
    body, div, h1, h2, form, input, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Tahoma, sans-serif;
      font-size: 16px;
      color: #666;
    }
    h1 {
      padding: 10px 0;
      text-align: center;
      font-size: 32px;
      font-weight: 300;
    }
    hr {
      color: #a9a9a9;
      opacity: 0.3;
    }
    .main-block {
      padding: 10px 0;
      min-width: 480px;
      margin: auto;
      border-radius: 15px; 
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
      background: #ebebeb; 
    }
    .response {
      padding: 16px 24px;
    }
    .response > p{
      text-align: center;
      font-size: 18px;
      color: #777;
    }
    form {
      margin: 0 30px;
    }
    label {
      border-radius: 5px 0 0 5px;
    }
    input {
      width: calc(100% - 57px);
      height: 36px;
      margin: 13px 0 0 -5px;
      padding-left: 10px; 
      border-radius: 0 5px 5px 0;
      border: solid 1px #cbc9c9; 
      box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
      background: #fff; 
    }
    #icon {
      display: inline-block;
      padding: 9.3px 15px;
      box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
      background: #1c87c9;
      color: #fff;
      text-align: center;
    }
    .btn-block {
      margin-top: 10px;
      text-align: center;
    }
    button {
      width: 100%;
      padding: 10px 0;
      margin: 10px auto;
      border-radius: 5px; 
      border: none;
      background: #1c87c9; 
      font-size: 14px;
      font-weight: 600;
      color: #fff;
    }
    button:hover {
      background: #26a9e0;
    }
    .response > div {
      border-radius: 5px; 
      border: solid 1px #cbc9c9; 
      box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
      width: 60%;
      margin: 5px;
      font-size: 18px;
    }
    .inmsg {
      left: 0px;
      background: #fbfbfb;
    }
    .outmsg {
      right: 0px;
      background: #53a2d2;
      color: #dfdfdf;
      margin-left: auto !important;
    }
    .response span {
      text-align: left;
      padding: 8px 10px;
      display: inline-block;
    }
    .msgcontent {
      padding-left: 12px !important;
      border-left: solid 1px #cbc9c9;
      display: flex !important;
    }
    .inmsg > .msgcontent {
      color: #0a0a0a;
    }
    .outmsg > .msgcontent {
      color: white;
    }
    .msglabel {
      float: left;
    }
    @media screen and (max-width: 479px) {
      .main-block {
        min-width: 0px;
      }
      .response > div {
        width: 85%;
      }
    }
    </style>
  </head>
  <body>
    <div class="main-block">
      <h1>BobChat</h1>
      <%= if response != "" do %>
        <hr>
        <div class="response">
          <div class="outmsg"><span class="msglabel">You</span><span class="msgcontent"><%= question %><span></div>
          <div class="inmsg"><span class="msglabel">Bob</span><span class="msgcontent"><%= response %></span></div>
        </div>
      <% end %>
      <form action="request">
        <hr>
        <label id="icon" for="q">...</label>
        <input type="text" name="q" id="q" placeholder="Say something..." />
        <div class="btn-block">
          <button type="submit" href="/">Ask Bob!</button>
        </div>
      </form>
    </div>
  </body>
</html>